@import './common.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
    font-size: $fontSize-Medium;
    color: $Color-1;
}

html {
    scroll-behavior: smooth;
}

ul,
li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: $Color-1;
}